USE [master]
GO
/****** Object:  Database [QLPhongTro3]    Script Date: 5/19/2023 2:57:41 PM ******/
CREATE DATABASE [QLPhongTro3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLPhongTro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLPhongTro3.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLPhongTro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLPhongTro3_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPhongTro3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPhongTro3]
GO
/****** Object:  Table [dbo].[_User]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[_User](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](250) NOT NULL,
 CONSTRAINT [PK_tblQuanLy] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCauHinh]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCauHinh](
	[TenPhongTro] [nvarchar](150) NULL,
	[ChuPhongTro] [nvarchar](50) NOT NULL,
	[DiaChiPhongTro] [nvarchar](250) NOT NULL,
	[SoDienThoai] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDichVu]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDichVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblDichVu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDVChiTiet]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDVChiTiet](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDThue] [bigint] NULL,
	[IDLoaiDV] [int] NULL,
	[TuNgay] [date] NULL,
	[ToiNgay] [date] NULL,
	[ChiSoCu] [int] NULL,
	[ChiSoMoi] [int] NULL,
	[DonGia] [int] NULL,
	[DaThanhToan] [tinyint] NULL,
 CONSTRAINT [PK_tblDienNuoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ho] [nvarchar](10) NULL,
	[TenDem] [nvarchar](20) NULL,
	[Ten] [nvarchar](10) NULL,
	[CMND_CanCuoc] [varchar](10) NULL,
	[DienThoai] [varchar](10) NULL,
	[QueQuan] [nvarchar](150) NULL,
	[HKTT] [nvarchar](150) NULL,
 CONSTRAINT [PK_tblKhachHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLoaiPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiPhong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_tblLoaiPhong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[IDLoaiPhong] [int] NULL,
	[TrangThai] [tinyint] NULL,
	[DaXoa] [tinyint] NULL CONSTRAINT [DF_tblPhong_DaXoa]  DEFAULT ((0)),
 CONSTRAINT [PK_tblPhong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblThuePhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblThuePhong](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDKhachHang] [int] NULL,
	[IDPhong] [int] NULL,
	[GiaPhong] [int] NULL,
	[TienDatCoc] [int] NULL,
	[NgayThue] [date] NULL,
	[NgayTraPhong] [date] NULL,
	[DaThanhToan] [int] NULL,
 CONSTRAINT [PK_tblThuePhong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[_User] ([username], [password]) VALUES (N'admin', N'admin')
INSERT [dbo].[_User] ([username], [password]) VALUES (N'banana', N'banana')
INSERT [dbo].[_User] ([username], [password]) VALUES (N'Thuy Ngan', N'thuyngan')
SET IDENTITY_INSERT [dbo].[tblDichVu] ON 

INSERT [dbo].[tblDichVu] ([ID], [TenDichVu]) VALUES (1, N'Điện')
INSERT [dbo].[tblDichVu] ([ID], [TenDichVu]) VALUES (2, N'Nước')
INSERT [dbo].[tblDichVu] ([ID], [TenDichVu]) VALUES (4, N'Internet')
SET IDENTITY_INSERT [dbo].[tblDichVu] OFF
SET IDENTITY_INSERT [dbo].[tblKhachHang] ON 

INSERT [dbo].[tblKhachHang] ([ID], [Ho], [TenDem], [Ten], [CMND_CanCuoc], [DienThoai], [QueQuan], [HKTT]) VALUES (1, N'Trần ', N'Văn ', N'Hiếu', N'09322222', N'09283746', N'Huế', N'Huế')
INSERT [dbo].[tblKhachHang] ([ID], [Ho], [TenDem], [Ten], [CMND_CanCuoc], [DienThoai], [QueQuan], [HKTT]) VALUES (2, N'Nguyễn', N'Văn ', N'Thanh', N'10322322', N'03334342', N'Quảng Trị', N'Huế')
INSERT [dbo].[tblKhachHang] ([ID], [Ho], [TenDem], [Ten], [CMND_CanCuoc], [DienThoai], [QueQuan], [HKTT]) VALUES (3, N'Đăng', N'Anh', N'Khoa', N'10233556', N'09334555', N'Hà Nội', N'Huế')
SET IDENTITY_INSERT [dbo].[tblKhachHang] OFF
SET IDENTITY_INSERT [dbo].[tblLoaiPhong] ON 

INSERT [dbo].[tblLoaiPhong] ([ID], [TenLoaiPhong], [DonGia]) VALUES (1, N'Phòng đơn', 1000000)
INSERT [dbo].[tblLoaiPhong] ([ID], [TenLoaiPhong], [DonGia]) VALUES (2, N'Phòng đôi', 1250000)
INSERT [dbo].[tblLoaiPhong] ([ID], [TenLoaiPhong], [DonGia]) VALUES (3, N'Phòng lớn', 1000000)
SET IDENTITY_INSERT [dbo].[tblLoaiPhong] OFF
SET IDENTITY_INSERT [dbo].[tblPhong] ON 

INSERT [dbo].[tblPhong] ([ID], [TenPhong], [IDLoaiPhong], [TrangThai], [DaXoa]) VALUES (6, N'D01', 1, 1, 1)
INSERT [dbo].[tblPhong] ([ID], [TenPhong], [IDLoaiPhong], [TrangThai], [DaXoa]) VALUES (7, N'D09', 1, 0, 1)
INSERT [dbo].[tblPhong] ([ID], [TenPhong], [IDLoaiPhong], [TrangThai], [DaXoa]) VALUES (8, N'D08', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[tblPhong] OFF
SET IDENTITY_INSERT [dbo].[tblThuePhong] ON 

INSERT [dbo].[tblThuePhong] ([ID], [IDKhachHang], [IDPhong], [GiaPhong], [TienDatCoc], [NgayThue], [NgayTraPhong], [DaThanhToan]) VALUES (90, 2, 12, 1000000, 1000000, CAST(N'2023-05-19' AS Date), CAST(N'2023-06-19' AS Date), 500000)
INSERT [dbo].[tblThuePhong] ([ID], [IDKhachHang], [IDPhong], [GiaPhong], [TienDatCoc], [NgayThue], [NgayTraPhong], [DaThanhToan]) VALUES (93, 2, 31, 1000000, 1000000, CAST(N'2023-05-19' AS Date), CAST(N'2023-06-19' AS Date), 1000000)
INSERT [dbo].[tblThuePhong] ([ID], [IDKhachHang], [IDPhong], [GiaPhong], [TienDatCoc], [NgayThue], [NgayTraPhong], [DaThanhToan]) VALUES (94, 1, 25, 1700000, 1000000, CAST(N'2023-05-19' AS Date), CAST(N'2023-06-19' AS Date), 1700000)
SET IDENTITY_INSERT [dbo].[tblThuePhong] OFF
ALTER TABLE [dbo].[tblDVChiTiet] ADD  CONSTRAINT [DF_tblDienNuoc_DaThanhToan]  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[tblDVChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_tblDienNuoc_tblDichVu] FOREIGN KEY([IDLoaiDV])
REFERENCES [dbo].[tblDichVu] ([ID])
GO
ALTER TABLE [dbo].[tblDVChiTiet] CHECK CONSTRAINT [FK_tblDienNuoc_tblDichVu]
GO
ALTER TABLE [dbo].[tblDVChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_tblDienNuoc_tblThuePhong] FOREIGN KEY([IDThue])
REFERENCES [dbo].[tblThuePhong] ([ID])
GO
ALTER TABLE [dbo].[tblDVChiTiet] CHECK CONSTRAINT [FK_tblDienNuoc_tblThuePhong]
GO
ALTER TABLE [dbo].[tblPhong]  WITH CHECK ADD  CONSTRAINT [FK_tblPhong_tblLoaiPhong] FOREIGN KEY([IDLoaiPhong])
REFERENCES [dbo].[tblLoaiPhong] ([ID])
GO
ALTER TABLE [dbo].[tblPhong] CHECK CONSTRAINT [FK_tblPhong_tblLoaiPhong]
GO
ALTER TABLE [dbo].[tblThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_tblThuePhong_tblKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[tblKhachHang] ([ID])
GO
ALTER TABLE [dbo].[tblThuePhong] CHECK CONSTRAINT [FK_tblThuePhong_tblKhachHang]
GO
ALTER TABLE [dbo].[tblThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_tblThuePhong_tblPhong] FOREIGN KEY([IDPhong])
REFERENCES [dbo].[tblPhong] ([ID])
GO
ALTER TABLE [dbo].[tblThuePhong] CHECK CONSTRAINT [FK_tblThuePhong_tblPhong]
GO
/****** Object:  StoredProcedure [dbo].[capNhatDichVu]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[capNhatDichVu] 
@id int ,
@tenDV nvarchar(100)

as
begin 
  update tblDichVu 
  set TenDichVu = @tenDV
  where ID = @id;

  if @@ROWCOUNT > 0 return 1 
  else return 0 ;

end 
GO
/****** Object:  StoredProcedure [dbo].[capNhatLoaiPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[capNhatLoaiPhong]
	@idLoaiPhong int,
	@tenLoaiPhong nvarchar(50),
	@donGia int
as
begin
	update tblLoaiPhong
	set TenLoaiPhong = @tenLoaiPhong,
		DonGia = @donGia
	where ID = @idLoaiPhong;

	if @@ROWCOUNT > 0 return 1; --- cập nhật thành công
	else return 0;--cập nhật thất bại
end
GO
/****** Object:  StoredProcedure [dbo].[deleteDichVu]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[deleteDichVu]
@id int 

as 
begin 
 delete tblDichVu
 where ID = @id

 if @@ROWCOUNT > 0 return 1
 else return 0;
end
GO
/****** Object:  StoredProcedure [dbo].[deletePhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- khai báo 1 proc để thực thi việc xóa phòng 
CREATE proc [dbo].[deletePhong] 
@idPhong int 
as
begin 

-- trường hợp xóa "Cứng" 
	--delete from tblPhong
	--where ID = @idPhong;
	 --if(@@ROWCOUNT>0)
	 --return 1;
	 --else 
	 --return 0;
-- trường hợp xóa mềm 
	update tblPhong
	set DaXoa = 1
	where ID = @idPhong
	if @@ROWCOUNT >0 return 1
	else return 0;
	
end

GO
/****** Object:  StoredProcedure [dbo].[GiaHan]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GiaHan]
	@Id bigint -- tham số truyền vào để xác định được dữ liệu của khách hàng hiện tại
as
begin	

	-- khai báo các biến để lấy thông tin hiện có của khách hàng
	declare @v_IdKhachHang int; 
	declare @v_IdPhong int;
	declare @v_GiaPhong int;
	declare @v_DatCoc int;
	declare @v_NgayThueMoi date;
	declare @v_NgayTraMoi date;

	-- gán giá trị cho các biến đã khai báo phía trên
	set @v_IdKhachHang= (select IDKhachHang from tblThuePhong where ID = @Id );
	set @v_IdPhong= (select IDPhong from tblThuePhong where ID = @Id );	
	set @v_GiaPhong= (select GiaPhong from tblThuePhong where ID = @Id );	
	set @v_DatCoc= (select TienDatCoc from tblThuePhong where ID = @Id );
	set @v_NgayThueMoi= (select DATEADD(day,1,NgayTraPhong) from tblThuePhong where ID = @Id );

	set @v_NgayTraMoi= (select DATEADD(day,DATEDIFF(DAY,NgayThue , NgayTraPhong),NgayTraPhong) from tblThuePhong where ID = @Id );

	-- thêm mới 1 dòng dữ liệu vào bảng tblThuePhong <=> gia hạn hợp đồng
	insert into tblThuePhong(IDKhachHang,IDPhong,GiaPhong,TienDatCoc,NgayThue,NgayTraPhong)
	values(@v_IdKhachHang, @v_IdPhong,@v_GiaPhong,@v_DatCoc,@v_NgayThueMoi,@v_NgayTraMoi);

	if @@ROWCOUNT > 0 return 1; -- nếu gia hạn thành công thì trả về 1
	else return 0; -- trả về 0 nếu gia hạn thất bại	
end

GO
/****** Object:  StoredProcedure [dbo].[LoadAllDSPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadAllDSPhong]
as
begin
	select p.ID ,
	CONCAT(l.TenLoaiPhong,' ',p.TenPhong) as TenPhong 
	from tblPhong p 
	inner join tblLoaiPhong l 
	on p.IDLoaiPhong = l.ID
	where p.DaXoa!=1
	and p.id  not in (select IDPhong from tblThuePhong where NgayTraPhong > GETDATE() )
	and p.TrangThai=0
	ORDER BY L.TenLoaiPhong,p.TenPhong


end


GO
/****** Object:  StoredProcedure [dbo].[loadDSDichVu]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loadDSDichVu] 
@timKiem nvarchar(100)
as 
begin
  select * from tblDichVu
  where TenDichVu like '%'+@timKiem+'%'

end 
GO
/****** Object:  StoredProcedure [dbo].[loadDSKhachHang]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[loadDSKhachHang]
 -- @timKiem nvarchar (50)

as 
begin 
	select  CONCAT(k.Ho,' ',k.TenDem,' ',k.Ten) as Hoten, *
	 from tblKhachHang as k
		
end	
GO
/****** Object:  StoredProcedure [dbo].[loadDsLoaiPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loadDsLoaiPhong]
as
begin
	select * from tblLoaiPhong;
end
GO
/****** Object:  StoredProcedure [dbo].[loadDSPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[loadDSPhong] 
  @timkiem nvarchar (50)

as 
begin 
	select 
	   p.ID,
	   lp.TenLoaiPhong,
	   p.TenPhong,
	   lp.DonGia,
		case 
			when p.trangThai = 1 then N'Hoạt động'
			else N'Không hoạt động'
		end as trangThai
	from tblPhong as p 
	inner join tblLoaiPhong as lp on p.IDLoaiPhong = lp.ID 
	where DaXoa = 0 

	ORDER BY lp.TenLoaiPhong,p.TenPhong
end	
GO
/****** Object:  StoredProcedure [dbo].[LoadDSThuePhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadDSThuePhong]

 @tuKhoa nvarchar(50)
as  

begin 

select 
tp.ID,
l.TenLoaiPhong , p.TenPhong, 
CONCAT(kh.Ho,' ',kh.TenDem,' ',kh.Ten) as HoTen,
kh.DienThoai,
kh.CMND_CanCuoc,
kh.HKTT,
 convert(varchar(10),tp.NgayThue,103) as NgayThue,
 convert(varchar(10),tp.NgayTraPhong,103) as NgayTraPhong,
 tp.GiaPhong,
 tp.DaThanhToan,
( tp.GiaPhong- tp.DaThanhToan) as ConLai,
tp.TienDatCoc
from tblThuePhong as tp
inner join tblPhong as p on tp.IDPhong = p.ID
inner join tblLoaiPhong as l on p.IDLoaiPhong = l.ID
inner join tblKhachHang as kh on tp.IDKhachHang= kh.ID

where kh.DienThoai like '%'+@tuKhoa+'%' 
or kh.CMND_CanCuoc like '%'+@tuKhoa+'%'
or CONCAT(kh.Ho,' ',kh.TenDem,' ',kh.Ten) like '%'+@tuKhoa+'%'  
order by tp.NgayThue desc , kh.Ten

end
GO
/****** Object:  StoredProcedure [dbo].[LoadThongTinHopDongThueTro]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadThongTinHopDongThueTro] 
 @ID bigint 
as
begin 
select  
	case
	  when kh.TenDem is not null then CONCAT(kh.Ho ,' ', kh.TenDem,' ', kh.Ten)
	  else CONCAT(kh.Ho ,' ', kh.Ten)
	end as Hoten, tp.GiaPhong,tp.DaThanhToan,(tp.GiaPhong-tp.DaThanhToan) ConLai
	from tblThuePhong tp 
	inner join tblKhachHang kh on tp.IDKhachHang = kh.ID
	where tp.ID = @ID
end
GO
/****** Object:  StoredProcedure [dbo].[PhongDangThue]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PhongDangThue]
 @timkiem nvarchar (50)

as 
begin 
	select 
	   p.ID,
	   lp.TenLoaiPhong,
	   p.TenPhong,
	   lp.DonGia,
		case 
			when p.trangThai = 1 then N'Hoạt động'
			else N'Không hoạt động'
		end as trangThai
	from tblPhong as p 
	inner join tblLoaiPhong as lp on p.IDLoaiPhong = lp.ID 
	where DaXoa = 0 and p.TrangThai =1

	ORDER BY lp.TenLoaiPhong,p.TenPhong
end	


GO
/****** Object:  StoredProcedure [dbo].[PhongTrong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PhongTrong]
 @timkiem nvarchar (50)

as 
begin 
	select 
	   p.ID,
	   lp.TenLoaiPhong,
	   p.TenPhong,
	   lp.DonGia,
		case 
			when p.trangThai = 1 then N'Hoạt động'
			else N'Không hoạt động'
		end as trangThai
	from tblPhong as p 
	inner join tblLoaiPhong as lp on p.IDLoaiPhong = lp.ID 
	where DaXoa = 0 and p.TrangThai=0

	ORDER BY lp.TenLoaiPhong,p.TenPhong
end	
GO
/****** Object:  StoredProcedure [dbo].[repass]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[repass] 

-- id phòng cần cập nhật 
-- tên phòng sau khi thay đổi 
-- trạng thái phòng sau khi thay đổi 
-- id sau khi thay đổi 

@username nvarchar(50),
@newpassword nvarchar(50),
@repassword nvarchar(50)


as
begin 
   update _User 
   set password = @newpassword

   where username = @username -- chỉ update 1 phòng có id truyền vào 

   if @@ROWCOUNT > 0 return 1 -- nếu update thành công 
   else return 0 ;
end
GO
/****** Object:  StoredProcedure [dbo].[searchDichvu]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchDichvu]
@tenDV nvarchar(50) 
as
begin
  select * from tblDichVu where TenDichVu like N'%'+@tenDV+'%'
  

end
GO
/****** Object:  StoredProcedure [dbo].[selectPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- khai báo một produre để lấy thông tin phòng dựa vào id phòng 

create proc [dbo].[selectPhong] 
@idPhong int 
as 
begin 
        select * from tblPhong where ID = @idPhong

end
GO
/****** Object:  StoredProcedure [dbo].[selectuser]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[selectuser]

 as 
 begin
 
  select * from _User 
 end
GO
/****** Object:  StoredProcedure [dbo].[ThanhToan]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ThanhToan]

@ID bigint,
@SoTien int 

as
begin 
update tblThuePhong
set DaThanhToan = @SoTien
where ID = @ID

if @@ROWCOUNT > 0 return 1;
else return 0;
end
GO
/****** Object:  StoredProcedure [dbo].[themDichVu]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themDichVu]
@tenDV nvarchar(100)
as 
begin 
 insert into tblDichVu values (@tenDV)
 if @@ROWCOUNT > 0 return 1
 else return 0;

end
GO
/****** Object:  StoredProcedure [dbo].[themKH]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themKH] 
 
 @ho nvarchar(50),
 @hoDem nvarchar(50),
 @ten nvarchar(50),
 @cmnd nvarchar(50),
 @dienThoai nvarchar(50),
 @queQuan nvarchar(50),
 @hktt nvarchar(50)
 
 as
 

begin
	insert into tblKhachHang(Ho,TenDem,Ten,CMND_CanCuoc,DienThoai,QueQuan,HKTT)  values (@ho,@hoDem,@ten,@cmnd,@dienThoai,@queQuan,@hktt);
	if (@@ROWCOUNT >0) return 1;
	else return 0;
 
end 

GO
/****** Object:  StoredProcedure [dbo].[themLoaiPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themLoaiPhong]
	@tenLoaiPhong nvarchar(50),
	@donGia int
as
begin
	insert into tblLoaiPhong values(@tenLoaiPhong,@donGia);
	if @@ROWCOUNT > 0 return 1
	else return 0;
end

GO
/****** Object:  StoredProcedure [dbo].[themMoiPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themMoiPhong] 
 @idLoaiPhong int ,
 @tenPhong nvarchar(50),
 @trangThai tinyint
as
begin
	insert into tblPhong(TenPhong,IDLoaiPhong,TrangThai)  values (@tenPhong, @idLoaiPhong,@trangThai);
	if (@@ROWCOUNT >0) return 1;
	else return 0;
 
end 

GO
/****** Object:  StoredProcedure [dbo].[ThuePhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThuePhong] 
@idPhong int,
@idKhachHang int ,
@datCoc int ,
@ngayThue varchar(10),
@ngayTra varchar(10)
as
begin
 
 insert tblThuePhong(IDPhong , IDKhachHang , GiaPhong , TienDatCoc ,NgayThue,NgayTraPhong)
 values(
	@idPhong,
	@idKhachHang,
	( select l.DonGia
	  from tblPhong as p 
	  inner join tblLoaiPhong as l on p.IDLoaiPhong= l.ID
	  where p.ID = @idPhong	
	),
	@datCoc,
	--@ngayThue,
	--@ngayTra);
	CONVERT(varchar(10), CONVERT(DATE, @ngayThue, 111),  111) ,
	CONVERT(varchar(10), CONVERT(DATE, @ngayTra, 111),  111)) ;
	

	 update tblPhong 
   set 
	   TrangThai = 1

   where ID = @idPhong -- chỉ update 1 phòng có id truyền vào 

	if (@@ROWCOUNT >0) return 1
	else return 0;

	
 
end
GO
/****** Object:  StoredProcedure [dbo].[TraPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TraPhong] 
@idPhong nvarchar(50),
@ID int
as
begin
 
 
	 update tblPhong 
   set 
	   TrangThai = 0

   where TenPhong = @idPhong -- chỉ update 1 phòng có id truyền vào 


	delete from tblThuePhong 
	 where ID = @ID
	

	if (@@ROWCOUNT >0) return 1
	else return 0;

	
 
end
GO
/****** Object:  StoredProcedure [dbo].[updatePhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updatePhong] 
--để cập nhật thông tin phòng cần có 
-- id phòng cần cập nhật 
-- tên phòng sau khi thay đổi 
-- trạng thái phòng sau khi thay đổi 
-- id sau khi thay đổi 
@idPhong int ,
@tenPhong nvarchar(150),
@idLoaiPhong int ,
@trangThai tinyint 

as
begin 
   update tblPhong 
   set TenPhong = @tenPhong,
       IDLoaiPhong = @idLoaiPhong,
	   TrangThai = @trangThai

   where ID = @idPhong -- chỉ update 1 phòng có id truyền vào 

   if @@ROWCOUNT > 0 return 1 -- nếu update thành công 
   else return 0 ;
end
GO
/****** Object:  StoredProcedure [dbo].[xoaLoaiPhong]    Script Date: 5/19/2023 2:57:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[xoaLoaiPhong] 
 @idLoaiPhong int 
as 
begin
  delete from tblLoaiPhong where ID = @idLoaiPhong;
  if (@@ROWCOUNT >0) return 1;
  else return 0; 
   
end
GO
USE [master]
GO
